<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
    <h1>Information:</h1>
    <li>Count of books: {{ info.title__count }}</li>
    <li>Avg price: {{info.price__avg}}</li>
    <li>Max price: {{ info.price__max }}</li>
    <li>Min price: {{ info.price__min }}</li>
    <li>Max pages: {{ info.pages__max }}</li>
    <li>Min pages: {{ info.pages__min }}</li>
   <h2>List of books</h2>
   <ul>
        {% for obj in books %}
            <li><a href="{% url 'catalog:books_info' id=obj.id %}">{{ obj.id }} "{{ obj.title }}" {{ obj.author }}</a></li>
        {% endfor %}
    </ul>
    <ul><a href="{% url 'catalog:index' %}">Back to main menu</a></ul>
</body>
</html>