<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Store information</title>
</head>
<body>

<h1>Information about store:</h1>
    <ul>ID: {{ id }}</ul>
    <ul>Name: {{ name }}</ul>
    <ul>Address: {{ address }}</ul>
    <ul>Publisher: {{ publisher }}</ul>
    <ul>Books:</ul>
        {% for obj in books %}
            <ul><a href="{% url 'catalog:books_info' id=obj.id %}">{{ obj.id }} "{{ obj.title }}"</a></ul>
    {% endfor %}
    <ul><a href="{% url 'catalog:index' %}">Back to main menu</a></ul>
    <ul><a href="{% url 'catalog:stores' %}">Back to the list of stores</a></ul>
</body>
</html>